name: HTML Website CI/CD using Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source code
      uses: actions/checkout@v4

    - name: Setup Java 8
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '8'

    - name: Build website using Maven
      run: mvn clean package

    - name: Upload build artifact
      uses: actions/upload-artifact@v4
      with:
        name: website-build
        path: target/classes
